bind:
  host: 127.0.0.1
  port: 54321
  # leave unix empty to use tcp, otherwise with unix socket
  unix:
  perm: 0o777
# this is global one
geo_db:
sites:
  example.com:
    dot_env: path to your .env file
    # crystal-db pool configuration, see https://crystal-lang.org/reference/master/database/connection_pool.html
    db_conf: "?" # this must start with ?
    # seperate db pool for adv analytics queries
    # empty to use the same pool as above
    analytics_db_conf: 
    cache:
      size: 100 # or 0 to disable cache
      expire: 5 # in secs
      neg_expire: 5 # in secs, for non-existing link
    # if this is true, it'll fetch original 404 page from the site, and scheme is for this option only
    fetch_404: false
    scheme: http
    # this is per site one
    geo_db:
